---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Este es el about">
    <h1>Contaminacion</h1>
    
    <p>Se entiende por contaminación ambiental cuando existe la presencia de sustancias nocivas en el agua, aire o suelo. Las sustancias nocivas son lo que llamamos contaminantes ambientales, pudiendo tener diferente origen. Además, se encuentran en diferentes concentraciones y en diferentes lugares.</p>
</Layout>