---
import Navbar from "./Navbar.astro";
---

<div class="py-4 px-4 mx-auto w-full h-full lg:py-8 lg:px-6">
    <div class="flex flex-row mx-auto items-center h-full text-center">
        <div class="grow w-full h-full">
            <Navbar class="top-0"></Navbar>
            <h2 class="mb-4 text-5xl tracking-tight">
                ODS 13: Acción por el clima
            </h2>
            <p>
                Objetivo 13: Adoptar medidas urgentes para combatir el cambio
                climático y sus efectos
            </p>
        </div>
        <div class="grow-0">
            <img
                class="w-48 shrink-0"
                src="https://www.un.org/sustainabledevelopment/es/wp-content/uploads/sites/3/2018/07/S_SDG-goals_icons-individual-rgb-13.png"
            />
        </div>
    </div>
</div>

<style></style>
