---
---

<div
    class="flex items-center justify-center text-center space-x-10 bg-[#48773e] border-b-2 py-3 px-8"
>
    <a
        class="flex-1 text-gray-200 hover:bg-[#294423] hover:text-white rounded-md px-3 py-2 text-sm font-medium"
        href="/"
        >Inicio</a
    >
    <a
        class="flex-1 text-gray-200 hover:bg-[#294423] hover:text-white rounded-md px-3 py-2 text-sm font-medium"
        href="/about"
        >Definición</a
    >
    <a
        class="flex-1 text-gray-200 hover:bg-[#294423] hover:text-white rounded-md px-3 py-2 text-sm font-medium"
        href="/causas"
        >Causas</a
    >
    <a
        class="flex-1 text-gray-200 hover:bg-[#294423] hover:text-white rounded-md px-3 py-2 text-sm font-medium"
        href="/consecuencias"
        >Consecuencias</a
    >
    <a
        class="flex-1 text-gray-200 hover:bg-[#294423] hover:text-white rounded-md px-3 py-2 text-sm font-medium"
        href="/mosaico"
        >Mosaico</a
    >
</div>
