<div>
    <h1>Déjanos tu opinión sobre el cambio climático</h1>
    <form class="flex flex-col w-full bg-[#7d907e]">
        <div class="w-fulll">
            <input type="text" placeholder="Deja tu comentario" />
        </div>
        <div>
            <button class="bg-gray-400">Aceptar</button>
            <button class="bg-gray-800">Cancelar</button>
        </div>
    </form>
</div>
